<h1>Listing courses</h1>

<table>
  <tr>
    <th>Coursename</th>
    <th>Section</th>
    <th>User id</th>
  </tr>

<% @courses.each do |course| %>
  <tr>
    <td><%=h course.coursename %></td>
    <td><%=h course.section %></td>
    <td><%=h course.user_ID %></td>
    <td><%= link_to 'Show', course %></td>
    <td><%= link_to 'Edit', edit_course_path(course) %></td>
    <td><%= link_to 'Destroy', course, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New course', new_course_path %>