<p>
  <b>Coursename:</b>
  <%=h @course.coursename %>
</p>

<p>
  <b>Section:</b>
  <%=h @course.section %>
</p>

<p>
  <b>User id:</b>
  <%=h @course.user_ID %>
</p>


<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>